<%-include("../../views/partials/user/user-header")%>

<link rel="stylesheet" href="/stylesheets/home.css">
  

  <div class="container mt-5 text-center">
    <h2 class="mb-4">About Knitzy</h2>
    <img src="images/knity2.png" alt="Knitzy Logo" class="img-fluid mb-4 logo">
    <div class="about-content">
        <p>
            Welcome to Knitzy! We are passionate about creating adorable and high-quality crochet dolls that bring joy to children and collectors alike. Our mission is to craft unique, handmade dolls that spark creativity and inspire imagination.
        </p>
        <p>
            At Knitzy, we believe in using only the finest materials to ensure that our products are safe, durable, and delightful. Each doll is lovingly crafted by skilled artisans who pour their heart and soul into every stitch.
        </p>
        <p>
            Join us on this whimsical journey of creativity and fun. Thank you for supporting our small business and being a part of the Knitzy family!
        </p>
    </div>
</div>
   

 
<%-include("../../views/partials/user/user-footer")%>