<%-include("../../views/partials/user/user-header")%>

<link rel="stylesheet" href="/stylesheets/userAccount.css">


  <div class="container account mt-5" id="profileSection">
    <div class="row justify-content-center">
         

        <!-- Account Information Section -->
        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            
            <div class="card" id="editProfile" >
                  <div class="card-body">
                      <h5 class="card-title">Current Email</h5>
                      <h6>We will send an OTP to your current email.</h6>
                      <form method="post" action="/changeProfile" onsubmit="
                      return validateLoginForm()">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <div class="mb-3">
                              <label for="emailChange" class="form-label">Email</label>
                              <input type="email" class="form-control emailToChange" name="email" id="email" value="<%=user.email%>" readonly>
                              <div id="error1" class="error-message"></div>
                          </div>
                         
                          
                          <button type="submit" class="btn btn-primary ">Send OTP</button>
                          <a href="/usreProfile" class="btn btn-danger ">Cancel</a>
                          
                      </form>
                  </div>
              </div>
        </div>

        
        
        
    </div>


</div>
   

  <script>

   

function validateLoginForm(){
  const emailInput = document.getElementById('email');
  const emailError = document.getElementById('error1');
  const emailValue = emailInput.value.trim();
  const emailPattern =  /^([a-zA-Z0-9._-]+)@([a-zA-Z0-9.-]+)\.([a-zA-Z]{2,4})$/;
 

  if(emailValue === ''){
    emailError.textContent = 'Please enter your email.';
    emailInput.classList.add('is-invalid');
    return false;
  }else if(!emailValue.match(emailPattern)){
    emailError.textContent = 'Please enter a valid email address';
    emailInput.classList.add('is-invlaid');
    return false;
  }else{
    emailError.textContent = '';
    emailInput.classList.remove('is-valid');
    return true;
  }



          
}


  </script>



<%-include("../../views/partials/user/user-footer")%>