/* shop.css */


 
.dropdown-submenu {
    position: relative;
    background: #f0eeee;
  }

.dropdown-submenu .dropdown-menu {
    display: none;
    position: static;
    float: none;
    border: none;
    box-shadow: none;
    margin-top: 0;
    background: #e7e8e9;
}

.dropdown-submenu .dropdown-menu.show {
    display: block;
}
.dropdown-btn{
    border: 1px solid rgb(189, 189, 151);
}
.dropdown-btn:hover{
    border: 1px solid rgb(167, 167, 142);
} 
  

/* Products styles */
#products{
    padding: 20px;
}
.product-cards-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr; /* Default for small devices */
    padding: 30px;
    border: 1px solid rgba(214, 210, 210, 0.993); 
    border-radius: 10px;
}

/* Responsive Grid */
@media (min-width: 576px) {
    .product-cards-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards on small devices */
    }
}

@media (min-width: 768px) {
    .product-cards-container {
        grid-template-columns: repeat(4, 1fr); /* 4 cards on medium devices */
    }
}

@media (min-width: 1200px) {
    .product-cards-container {
        grid-template-columns: repeat(6, 1fr); /* 6 cards on large devices */
    }
}

.product-card {
    position: relative;
    background-color: #fff;
    border: 1px solid rgb(190, 187, 187);
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 30px;
}

.product-card:hover {
    transform: scale(1.02);
}

.product-card .product-card-img {
    width: 100%;
    height: 200px; /* Fixed height for the image */
    object-fit: cover;
    padding: 30px 10px 0px 10px;
}

.product-card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px; /* Adjusted height */
    text-overflow: ellipsis;
}

.product-card-title {
    font-size: 1.25rem;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card-text {
    font-size: 0.9rem;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card-price i {
   font-size: 1rem;
}
.product-card-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #04000a;
    margin-bottom: 5px;
}

.wishlist-btn {
    position: absolute;
    top: 1px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #797373;
    transition: color 0.3s ease;
}

.wishlist-btn.active {
    color: #ff0000;

}
.wishlist-btn:focus{
    outline: none;
}



.pagination-container {
    text-align: center;
  }

  .pagination {
    display: inline-block;
  }

  .pagination a,
  .pagination .current-page {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ddd;
    text-decoration: none;
    background-color: rgb(21, 1, 75);
    color: #fcfbfb;
  }
