

  
.account {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.address-sec {
    height: 275px;
    overflow: scroll;
}

.address-sec::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.addressList{
    word-wrap: break-word; /* Handles wrapping of long words */
    overflow-wrap: break-word; /* Ensures proper wrapping */
    word-break: break-all; /* Forces word breaks if necessary */
}